<!-- Form Handling-->
<div class="form">
  <form action="/api/users" method="POST" id="add_user" class="justify-content-center inline" onsubmit="swal_response('Success!', 'Data User Sucessfully Saved!', 'success', true, '/add-user')">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" />
    </div>
    <div class="mb-3">
        <label for="umur" class="form-label">Umur</label><br />
           <input type="number" class="form-control" id="umur" name="umur">
      </div>
    </div>

    <button type="submit" class="btn btn-success col-md-12 btn-sm"><i class="fas fa-save"> </i> Save</button>
  </form>
</div>
<!-- /Form Handling-->
