<tr>
    <td>1</td>
    <td>Robby</td>
    <td>robby@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i>
        </a>
        <a class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>